* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.navbar {
  padding: 23px 0;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav .nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #343a40;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
  margin-right: 20px;
}

.header_wrapper {
  width: 100%;
  margin-top: 50px;
  background: url(../assets/images/header_svg_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.header {
  padding: 76px 0 125px;
  text-align: center;
}
.header-logo {
  margin: 20px 0 50px;
}
.header-text h2 {
  font-weight: 300;
  font-size: 56px;
  color: #343a40;
  margin-bottom: 110px;
}
.header-buttons .btn {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #343a40;
  margin: 0 10px;
  border-radius: 15px;
}
.header-buttons .btn-left {
  background-color: #00c7b1;
  transition: all 0.3s ease;
}
.header-buttons .btn-left:hover {
  background-color: #13e2ca;
  transition: all 0.3s ease;
}
.header-buttons .btn-left span {
  color: #fff;
  text-decoration: underline;
}
.header-buttons .btn-right {
  background-color: transparent;
}
.header-buttons .btn-right span {
  color: #b40091;
  text-decoration: underline;
}
@media (min-width: 576px) {
  .header-buttons .btn {
    width: 342px;
    height: 89px;
  }
}

.second_view {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}
.left_col {
  width: 40%;
  margin-top: 6.5%;
}
.right_col {
  width: 60%;
}
.right_col p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343a40;
}

.team_block {
  width: 100%;
  padding-left: 10%;
  display: flex;
  justify-content: flex-end;
}
.left_team h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  color: #343a40;
}
.left_team span {
  color: #00c7b1;
  font-weight: 700;
}
.left_team p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343a40;
  padding-left: 14%;
  padding-right: 10px;
}

.tree_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree_logo {
  margin-bottom: 60px;
}
.tree_blocks_wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.tree_blocks_wrapper .left_tree,
.right_tree {
  width: 43%;
}
.tree_blocks_wrapper .left_tree {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.left_tree .top_tree_img {
  margin-right: 30px;
  margin-bottom: 18px;
}
.right_tree .top_tree_img {
  margin-left: 30px;
  margin-bottom: 18px;
}
.tree_top_box {
  border: 1px solid #753bbd;
  padding: 12px;
  width: 250px;
  height: 80px;
  text-align: center;
  margin-bottom: 30px;
}
.tree_top_box h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120% !important;
  color: #343a40;
  margin-bottom: 5px !important;
}
.left_tree .tree_top_box {
  margin-right: 32px;
}
.right_tree .tree_top_box {
  margin-left: 35px;
}
.tree_main_col_box {
  width: 340px;
  height: 100px;
  border: 1px solid #753bbd;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.tree_main_col_box h4,
.tree_main_col_box p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #343a40;
  margin-bottom: 0;
}
.tree_main_col_box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
.left_main_col,
.right_main_col {
  display: flex;
  align-items: center;
}
.left_main_col .tree_main_col_box {
  margin-right: 35px;
}
.right_main_cols .tree_main_col_box {
  margin-left: 35px;
}
.left_main_col img,
.right_main_col img {
  margin-top: -150px;
}
.right_main_col img {
  height: 408px;
}
.tecnologies_block {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
}
