* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.navbar {
  padding: 23px 0;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  height: 40px;
}

.navbar-nav .nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #343a40;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 0 !important;
  transition: all 0.3s ease;
}
.navbar-nav .nav-link:hover {
  transition: all 0.3s ease;
  text-decoration: underline;
}

.header_wrapper {
  width: 100%;
  margin-top: 50px;
  background: url(../assets/images/header_svg_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.nav_logo_second,
.toggle_text_nav_2 {
  display: none !important;
}
.set_second {
  background: url(../assets/images/darken-bg.png) !important;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.set_second .header_wrapper {
  background: transparent;
}
.set_second .nav_logo_first,
.set_second .toggle_text_nav {
  display: none;
}
.set_second .toggle_text_nav_2 {
  display: block !important;
}
.set_second .nav_logo_second {
  margin: 0 auto;
  display: flex !important;
}
.set_second .navbar-nav .nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.set_second .header-text h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 67px;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  padding: 76px 0 125px;
  text-align: center;
}
.set_second .header {
  padding-bottom: 35px;
}
.header-logo {
  margin: 20px 0 50px;
}
.header-text h2 {
  font-weight: 300;
  font-size: 56px;
  color: #343a40;
  margin-bottom: 110px;
}
.header-buttons .btn {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #343a40;
  margin: 0 10px;
  border-radius: 15px;
}
.header-buttons .btn-left {
  background-color: #00c7b1;
  transition: all 0.3s ease;
}
.header-buttons .btn-left:hover {
  background-color: #13e2ca;
  transition: all 0.3s ease;
}
.header-buttons .btn-left span {
  color: #fff;
  text-decoration: underline;
}
.header-buttons .btn-right {
  background-color: transparent;
}
.header-buttons .btn-right span {
  color: #b40091;
  text-decoration: underline;
}
.set_second .header-buttons .btn-left {
  background: transparent;
  color: #fff;
}
.set_second .header-buttons .btn-left span {
  color: #00c7b1;
}
.set_second .header-buttons .btn-right {
  background: #b40091;
  color: #fff;
}
.set_second .header-buttons .btn-right span {
  color: #fff;
}
.set_second {
  padding-top: 0 !important;
}
@media (min-width: 576px) {
  .header-buttons .btn {
    width: 342px;
    height: 89px;
  }
}

.second_view {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}
.left_col {
  width: 40%;
  margin-top: 6.5%;
}
.right_col {
  width: 60%;
}
.right_col p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343a40;
}

.team_block {
  width: 100%;
  padding-left: 10%;
  display: flex;
  justify-content: flex-end;
}
.left_team h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  color: #343a40;
}
.left_team span {
  color: #00c7b1;
  font-weight: 700;
}
.left_team p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343a40;
  padding-left: 14%;
  padding-right: 10px;
}

.tree_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree_logo {
  margin-bottom: 60px;
}
.tree_blocks_wrapper {
  display: flex;
  width: 1220px;
  align-items: center;
  justify-content: space-between;
}
.tree_blocks_wrapper .left_tree,
.right_tree {
  width: 43%;
}
.tree_blocks_wrapper .left_tree {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.left_tree .top_tree_img {
  margin-right: 30px;
  margin-bottom: 18px;
}
.right_tree .top_tree_img {
  margin-left: 30px;
  margin-bottom: 18px;
}
.tree_top_box {
  border: 1px solid #753bbd;
  padding: 12px;
  width: 250px;
  height: 80px;
  text-align: center;
  margin-bottom: 30px;
}
.tree_top_box h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120% !important;
  color: #343a40;
  margin-bottom: 5px !important;
}
.left_tree .tree_top_box {
  margin-right: 32px;
  border: 1px solid #00c7b1;
}
.right_tree .tree_top_box {
  margin-left: 35px;
}
.tree_main_col_box {
  width: 340px;
  height: 100px;
  border: 1px solid #753bbd;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.tree_main_col_box h4,
.tree_main_col_box p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #343a40;
  margin-bottom: 0;
}
.tree_main_col_box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
.left_main_col,
.right_main_col {
  display: flex;
  align-items: center;
}
.left_main_col .tree_main_col_box {
  margin-right: 35px;
  border: 1px solid #00c7b1;
}
.right_main_cols .tree_main_col_box {
  margin-left: 35px;
}
.left_main_col img,
.right_main_col img {
  margin-top: -150px;
}
.right_main_col img {
  height: 408px;
}
.tecnologies_block {
  width: 1150px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  margin-bottom: 45px;
}
.left_tec h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  color: #343a40;
  margin-bottom: 25px;
}
.left_tec span {
  font-weight: 700;
}
.left_tec p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343a40;
  margin-right: 28%;
}
.tecnologies_list {
  display: flex;
  flex-wrap: wrap;
  width: 1190px;
  margin: 0 auto;
  align-items: center;
}
.tecnologies_list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tecnologies_list img {
  margin-bottom: 15px;
}
.tecnologies_list div p {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;

  text-align: center;
  color: #212529;
}
.tecnologies_list div {
  margin-left: 120px;
}
.first_child {
  margin-left: 30px !important;
}
.advantage_text {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 170px;
}
.advantage_text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  color: #0eb6b2;
}
.gallery_block {
  padding-top: 30px;
  background: #00c7b1;
}
.gallery_text p {
  font-weight: 400;
  font-size: 80px;
  line-height: 86px;
  text-align: justify;
  color: #343a40;
}
.gallery_text span {
  color: #fff;
}
.gallery_text {
  margin-bottom: 150px;
}
.top_1_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.gallery__col_position_images {
  width: 1220px;
  margin: 0 auto;
  position: relative;
}
.gal_2_img {
  position: absolute;
  right: 12%;
}
.gal_3_img {
  margin-top: -267px;
}
.gal_4_img {
  margin-top: 475px;
  margin-left: -4px;
}
.gal_5_img {
  margin-top: 75px;
}
.gal_6_img {
  position: relative;
  bottom: 0;
  right: -70px;
  top: -137px;
}
.bottom-col-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gallery_row_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vacancies_block {
  padding-top: 96px;
  background: #f8f9fa;
}

/* Marquee */

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items-wrap:before {
  left: 0;
}
.items-wrap:after {
  right: 0;
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.marquee {
  animation: scroll 35s linear infinite;
}
.reverce {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.marquee p {
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
}
.green_text {
  color: #00c7b1;
}
.purple_text {
  color: #b40091;
}
.main_text {
  font-weight: 700 !important;
  font-size: 72px;
  line-height: 86px;
  color: #753bbd;
}

.marquee_bottom_text {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 140px;
}
.marquee_bottom_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0px !important;
  color: #343a40;
}
.vakancy_list_item {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.vakancy_list_item_1 {
  width: 10%;
}
.vakancy_list_item_2 {
  width: 24%;
}
.vakancy_list_item_3 {
  width: 24%;
}
.vakancy_list_item_4 {
  width: 16%;
}
.vakancy_list_item_5 {
  width: 28%;
}
.vakancies_top_head p,
.vakancy_list_item_wrapper .vakancies_top_head p {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12.8px !important;
  line-height: 19px !important;
  color: #343a40;
  margin: 0 !important;
}
.vakancy_list_item_wrapper .vakancies_top_head .vakancy_list_item {
  padding-top: 20px;
}

.vakancies_lists {
  background: #fff;
}
.vakancies_lists .vakancy_list_item_wrapper {
  width: 100%;
  padding-top: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.vakancies_lists .vakancy_list_item {
  padding-bottom: 16px;
}

.vakancies_lists .vakancy_list_item_1 p {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;

  color: #343a40;
}
.vakancies_lists .vakancy_list_item_2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #343a40;
}
.vakancies_lists .vakancy_list_item_3 p,
.vakancies_lists .vakancy_list_item_4 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #343a40;
}
.vakancy_list_item_5 {
  display: flex;
  align-items: start;
}
.vakancy_list_item_5 .companies_logos {
  display: flex;
  align-items: center;
}
.vakancy_list_item_5 .companies_logos img {
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
}
.list_5_btns button {
  border: none;
  cursor: pointer;
  background: #00c7b1;
  padding: 16px;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.list_5_btn {
  color: #00c7b1 !important;
  background: transparent !important;
}
.vakancies_lists .data_target {
  border: none;
  background: transparent;
  cursor: default;
}

/* Accordeon */
.vakancies_lists .vakancies_top_head {
  display: none;
}
.about_vacancy {
  display: none;
}
.open_accordeon {
  padding-top: 20px !important;
  background: #f8f9fa;
  padding-bottom: 50px;
}
.open_accordeon .vakancies_top_head {
  display: flex;
}
.open_accordeon .about_vacancy {
  display: block;
}

.about_vacancy {
  width: 1220px;
  margin: 0 auto;
}
.about_vacancy_top {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.about_vacancy_top_right {
  padding-left: 9.5%;
}
.about_vacancy_top_right button {
  align-items: center;
  padding: 8px 16px;
  width: 110px;
  border: none;
  cursor: pointer;
  background: #343a40;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;

  color: #ffffff;
}
.upload_test {
  display: flex;
  align-items: center;
}
.about_top_text {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  color: #343a40;
}
.about_vacancy_top_left img {
  margin-left: 6px;
}
.about_vacancy_top_left div p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  margin-bottom: 6px !important;
  color: #343a40;
}
.about_vacancy_top_left span {
  color: #00c7b1;
  text-decoration: underline;
  cursor: pointer;
}
.about_vacancy_wrapper {
  width: 975px;
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.about_wrapper_list div div {
  background: #00c7b1;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.about_vacancy_wrapper_blocks {
  width: 47%;
}
.about_vacancy_wrapper_blocks h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #343a40;
  margin-bottom: 15px;
}
.about_wrapper_list div {
  display: flex;
  align-items: start;
  margin-bottom: 6px;
}
.about_wrapper_list div p {
  font-weight: 400;
  font-size: 12.8px;
  margin-bottom: 0;
  line-height: 19px;
  color: #343a40;
}
/* Foter */
footer {
  background: #00c7b1;
  padding-top: 240px;
  padding-bottom: 330px;
}

.footer_wrapper {
  width: 1250px;
  margin-left: 6%;
}
.footer_top_text span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #343a40;
}
.footer_top_text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #343a40;
  margin-top: 20px;
}

/* form */
.main_form_form {
  width: 100%;
  margin-top: 60px;
}
.main_form_form form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_form_form form .form_left_groups {
  width: 50%;
}
.main_form_form form .form_right_groups {
  width: 47%;
}
.form__group {
  width: 100%;
  position: relative;
  padding: 25px 0 0;
  margin-bottom: 20px;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
  padding: 0 0 7px;
  background: transparent;
  outline: none;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
.form__field:focus ::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
  opacity: 0.3;
}
.underline label {
  text-decoration: underline;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 10px;
  display: block;
  transition: 0.2s;
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  color: #000000;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.form_email_file {
  display: flex;
  align-items: center;
}
.main_form_file {
  width: auto;
  border-bottom: 1px solid #000;
  margin-bottom: 13px;
  padding-bottom: 15px;
  cursor: pointer;
  position: relative;
}
.main_form_file input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 200px;
}

.main_form .form_left_img img {
  width: 300px;
}

.main_form_file label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
  cursor: pointer;
}
.main_form_file label pre {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_form_file label p {
  word-break: keep-all;
}

.main_form_file label img {
  margin-right: 14px;
  padding-left: 14px;
}
#file-upload-filename,
#file-upload-filename-2 {
  font-size: 12px;
  position: absolute;
  bottom: 4px;
}
.file-upload {
  margin-bottom: 20px;
}

@media only screen and (max-width: 770px) {
  .main_form_file {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 600px) {
  .main_form_file input[type="file"] {
    width: 40px;
  }
}
.navbar {
  padding: 22px 0 !important;
  background: transparent !important;
  padding-bottom: 0px !important;
}
.set_second {
  padding-top: 0 !important;
}
